.tweet-container {
  margin-bottom: 20px;
}
.ind {
  margin-top: 50px;
  border:4px solid black;
}

.ind:hover .username {
  display: block;
}
.tweet-container ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  /* border: 4px solid white; */
  /* flex-direction: column; */
}

.inside-tweetcontainer {
  display:flex;
  justify-content: flex-start;
}
.portrait {
  height: 100px;
  margin:20px 20px 0 20px;

}
.heart {
  height: 50px;
  margin-right: 20px;
}
.username {
  margin-right: 20px;
  margin-top: 20px;
  display: none;
  color: grey;
}
.reallname {
  margin-top: 20px;
}
.days {
  margin-left: 20px;
}
.message {

  margin-left: 20px;
}

.flag {
  display: flex;
  align-items: stretch;
  margin-right: 20px;
  margin-bottom: 50px;
}
.flag li {
  margin-right: 10px;
}

.tweet-text {
  width:100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border:none;
  height: 50px;
  background-color: #f4f1ec;
  border-bottom: 2px solid black;
}

.firstdiv {
  display:none;
  border: 2px solid red;
  font-weight: bold;
  text-align: center;
  height: 40px;
  vertical-align: middle；
}
hr {
  /* border: 1px solid black; */
  margin:20px;
  padding-left: 20px;
}
