.navigation {
  display: flex;
  background-color:thistle;
  height: 120px;
  width: 100%;
  color: #ffffff;
  flex-direction: column;  
}

/* stick the nav */
.sticky {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

.navigation ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  margin: 1.5em;
}
.title-inside {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.comment {
  float:right;
}
.title {
  font-family: 'Bungee', cursive;
  font-size: 1.5em;
}